* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f6f6f6;
}

nav {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  width: 20%;
}

.router-links {
  color: #000;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.dropdown_item {
  background-color: white;
}

.card_status {
  display: flex;
  justify-content: space-between;
}

.homeContent {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.leftside {
  flex: 0.9;
}

.rightside {
  display: flex;
  flex-direction: column;
}

.rightside .MuiCardContent-root {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}

.graph_title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.graph {
  flex-grow: 1;
}

@media (max-width: 990px) {
  .homeContent {
    flex-direction: column;
  }
}
